* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url('background.png');
    background-position: center;
    line-height: 1.4em;
    margin: 0px;
}

.Container{
    width: 940px;
    border: 2px solids #000000;
    background-color: #ffffff;
}

header {
    background-image: url('background.png');
    display: flex;
    align-items: center;
    
}   

header img {
    width: 100px;
    margin-right: 90%;
}

header hgroup {
    color: whitesmoke;
    position: absolute;
    right: 50%;
    top: 1%;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
  } 

nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
}

nav ul li a:hover{
    text-decoration: none;
    padding: 10px;
    color:#5F5E5A;
}

section.maintain {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

hgroup {
    margin-top: 40px;
}

hgroup h3 {
    color: palevioletred;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

aside {
    width: 250px;
    float: left;
}

  aside section a {
    display: block;
    padding: 10px 10px 10px 30px;
    color: palevioletred;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

.asidesection1 h2 {
    padding: 20px;
    color: palevioletred;
}

.asidesection2 h2 {
    padding: 30px 30px 20px 20px;
    color: palevioletred;
}

.asidesection2 p {
    padding: 10px 10px 10px 20px;
}

footer {
    padding: 10px 10px 0 20px;
}
