* {
    padding: 0;
    margin: 0 auto;
}

.Container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}

.header {
    float: right;
}

.sections {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 7fr;
    border-top: 3px solid orange;
}

.menu {
    width: 190px;
    background-image: url(../../img/Bai4/back.jpg);
}

.menu li{
    list-style: none;
    padding: 5px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: orangered;
}

.content {
    position: relative;
    margin: 0 0 0 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10fr 1fr;
}

.content h1 {
    margin: 15px 0 23px 0;
    color: orange;
}

.content p {
    color: brown;
}

.content img {
    width: 75%;
}

.box {
    position: relative;
}

.box1 {
    background-color: whitesmoke;
    font-size: 13px;
    color: brown;
    border:5px inset;
    padding: 5px;
    position: absolute;
    width: 130px;
    height: 150px;
    top: 11%;
    right: 2%;
}

.box2 {
    background-color: whitesmoke;
    font-size: 13px;
    color: brown;
    border:5px inset;
    padding: 5px;
    position: absolute;
    width: 160px;
    height: 80px;
    top: 50%;
    right: 90%;
}

.box3 {
    background-color: whitesmoke;
    font-size: 13px;
    color: brown;
    border:5px inset;
    padding: 5px;
    position: absolute;
    width: 150px;
    height: 100px;
    top: 70%;
    right: 1%;
}


.footer {
    color: orange;
    text-align: center;
    width: 30cm;
    padding: 15px;
    border-top: 3px solid orange;
}

.box4 {
    float: right; /* Đặt hộp sang bên phải */
    width: 250px;
    padding: 15px;
    margin: 0 0 15px 15px; /* Khoảng cách với nội dung xung quanh */
    border: 5px inset orange;
}

.box4 h2 {
    font-size: 18px;
    color: #FF9900;
    margin-top: 0;
}

.box4 ul {
    padding-left: 30px;
    margin: 0;
}

.main-text p {
    margin: 0 0 15px; /* Khoảng cách giữa các đoạn văn */
}